<div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_XWlY_PddqyYQ66IDbpwAy7jna9d7u8&callback=initMap">
</script>

  <div id="map"  #mapELement ></div>



  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="sidebar">

        <h3 class="menu">Menu</h3>
        <a href="#" >Empresas</a>
        <a routerLink="empresas">Lista de Empresas</a>
        <a routerLink="adicionar">Adicionar</a>
      </div>
  </div>



  <div class="container mt-3">
    <router-outlet></router-outlet>

  </div>

